body {
    background-color: mediumspringgreen;
    color: floralwhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

h1, h3 {
    color: fuchsia;
    justify-content: center;
    display: flex;
}